<div class="bg-gray-100 p-4 rounded-md mb-4">
  <h1 class="text-3xl font-bold text-gray-800"><%= sanitize @post.title %></h1>
</div>
<div class="prose prose-lg max-w-none">
  <%= sanitize @post.body %>

  <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>

  <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>
  <% if @post.user %>
    <p>Author: <%= @post.user.name %></p>
  <% end %>
  <% if @post.category %>
    <p>Category: <%= @post.category.title %></p>
  <% end %>
  <p>Created at: <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>


</div>
